typer
SQLAlchemy
rich
docker
requests
PyYAML
python-dotenv
tenacity
openai
google-cloud-aiplatform
gitpython
prometheus-client
psutil
platformdirs
google-generativeai
prometheus-client
argcomplete
watchdog
watchdog
jaraco.context>=6.1.0
textual
cryptography
jira
croniter
Pillow
defusedxml
pypdf
qrcode
openpyxl
tomlkit
feedparser
websockets
Jinja2
redis
boto3
aiohttp
paho-mqtt
pyperclip
pandas
pyarrow
pytesseract
jsonpath-ng
tiktoken
ulid-py
python-barcode
