name: Semantic Release

on:
  push:
    branches:
      - master
      - main
    paths-ignore:
      - "README.md"
      - "docs/**"

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    concurrency: release
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Python Semantic Release
        uses: python-semantic-release/python-semantic-release@v9.15.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
